.tree{
    padding-left: 18px;
}
.tree ul ,.tree li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.tree li{
    position: relative;
}
.tree li ul{
    padding-left: 18px;
    display: none;
}
.checkbox-inline{vertical-align: baseline;}
.fa-plus-square-o,.fa-minus-square-o{
    position: absolute;
    left: -18px;
    top: 9px;
}

